:root {
  --font-size: 1vw;
  --color-red: #bd114c;
  --primary-color: #3498db;
  --secondary-color: #f1c40f;

}

html {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: calc(var(--font-size) + 14px);
line-height: 1.4;
}


h1,
 h2,
 h3 {
    color: var(--color-red);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



h1 {
font-size: calc(var(--font-size) * 6);
background: var(--secondary-color);
background-image: linear-gradient(60deg, var(--color-red), #ffb03a);
background-clip: text;
color: transparent;

}


h2 {
 font-size: calc(var(--font-size) * 6);
 background-color: var(--primary-color);
background-image: linear-gradient(60deg, var(--color-red), #3aff54);
background-clip: text;
color: transparent; 
}

h3 {

  font-size:calc(var(--font-size) + 32px);
}

nav {
  background-image: linear-gradient(blue, rgb(4, 243, 231));
}

.site-intro {
  font-size: 1.25rem;
}


nav a {
  color: #333;
  text-decoration: none;
}

nav a:link {
  color: #333;
}

nav a:visited {
  color: #666;
}

nav a:hover {
  color: #bb1b47;
  text-decoration: underline;
}

nav a:active {
  color: #bb1b47;
}

nav a:focus {
  outline: 2px solid #bb1b47;
  outline-offset: 2px;
}
