html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
  color: blue(67, 92, 19);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline dotted coral(238, 215, 4, 8) 6px;
  text-underline-offset: 12px;
}
h1 {
  font-size: 2.25rem;
  opacity: 0%;
}

.fade-text {
  animation: fadeTxt linear 7s 14s;
  animation-fill-mode: forwards;
}

@keyframes fadetxt {
  0% {
    opacity:0;
  }
  50% {
    font-size: 2.75rem;
  }
  100% {
    opacity: 1;
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.8rem;
  text-decoration: none;
}

h2::before,
h2::after {
  content: "\1f33b ";

}

h3 {
  font-size: 1.5rem;
}

nav {
  float: right;
  position: sticky;
  top: 0;
  background-color: bisque(47, 125, 241, .2);
  width: 240px;
}

nav ul {
  padding: 0;
}

nav li {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  letter-spacing: 1px;
  list-style-type: none;
  text-transform: uppercase;
}

nav,
header {
  text-align: center;
}

nav a,
.assignments a,
footer a {
  text-decoration: none;
  color: blue(67, 92, 19);
}

nav a:link,
nav a:visited {
  line-height: 1.5;
}

nav a:hover,
nav a:active {
  text-decoration: underline wavy bisque(240, 205, 6) 2px;
  text-underline-offset: 6px;
  color: brown(47, 125, 241);
}

nav a:hover::before {
  content: "\1f33b";
}

header p {
  font-size: 80%;
}

.fade-img {
  animation: fadeImg ease 14s;
  animation-fill-mode: forwards;
}

@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    border-radius: 50%;
    border: solid brown(70, 122, 235) 8px;
  }
}

main,
header {
  width: 60%;
  margin: 0 auto;
  line-height: 1.4;
}

.assignments li {
  list-style-type: none;
}

.assignments li::before {
  content: "\1f33b ";
  font-size: 1.6rem;
}

.assignments a:link,
.assignments a:visited {
  line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
  text-decoration: underline double darkblue(49, 97, 170, .5) 2px;
  text-underline-offset: 4px;
}


footer {
  line-height: 80%;
  font-weight:  500;
  position: relative;
}

small {
  float: right;
  padding: 20px 0 40px 0;
}

