/*
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

html {
  box-sizing : border-box ;
    font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.20rem;
  line-height: 125%;
  color: #50504f;
 }

* ,
* :: before ,
* :: after {
  box-sizing : inherit ;
}

nav {
    background-color: chocolate;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover,
nav a:active {
background-color: bisque;
color: coral;
text-decoration: underline;
}

main {
    width: 80%;
    margin: 0% auto;
}

h1,
h2,
h3, {
font-family: "Momo Trust Display", sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 5px 3px #ccc;
}
header {
    margin: 10%;
}

img {
    float: left;
    max-width: 25%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(65%);
}

header h2{
    margin-top: 5%;
}

.rate {
    text-align: center;
    font-size: 1.2rem;
}

.emoji::after {
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 300px;
    height: 280px;
    padding-top: 75px 16px 0 20px;
    border-radius: 50%;
    background-color: chocolate;
    outline: dotted 6px coral;
    outline-offset: 10px;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 1rem;
    margin: 40px auto;
}

blockquote small {
    text-align: right;
}

footer {
    background-color: chocolate;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;
}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 30%;
}

footer p {
    clear: both;
}

/* media queries go below */

@media (max-width: 360px) {

    html {
        line-height: 135%;
    }

    nav a {
        padding: 5%;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 5px;
    }

main {
    width: 90%;
}

h1 {
    font-size: .07rem;
}


}